.area{
    &-card{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 35%;
        bottom: 8%;
        width: 30%;
        height: auto;
        /* 卡片开始的位置在右边屏幕外 */
        /* ...其余样式... */
        border-radius: 6px;
        /* 添加边角弧度 */
        background-image: linear-gradient(-90deg, #182940 0%, #115687 100%);
        /* 添加渐变 */
        pointer-events: auto;
        border: 0px solid var(--el-card-border-color); 
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-size: 1.6rem;
            /* 改变标题字体大小 */
            font-weight: bold;
            /* 加粗字体 */
            font-style: italic;
            /* 斜体字 */
            &__button{
               background-color: #182940;
                /* 斜体字 */
                &:hover{
                    background-color: #fff
                }
            }
        }
    }    
}

.el-table{
    --el-table-border-color: var(--el-border-color-lighter);
    --el-table-border: 1px solid var(--el-table-border-color);
    --el-table-text-color: #fff;
    --el-table-header-text-color: #fff;
    --el-table-row-hover-bg-color: #115687;
    --el-table-current-row-bg-color: var(--el-color-primary-light-9);
    --el-table-header-bg-color: #115687;
    --el-table-fixed-box-shadow: var(--el-box-shadow-light);
    --el-table-bg-color: #fff;
    --el-table-tr-bg-color: #ffffff00;
    --el-table-expanded-cell-bg-color: var(--el-fill-color-blank);
    --el-table-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
    --el-table-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15);
    &__body-wrapper tr td.el-table-fixed-column--right, &__body-wrapper tr td.el-table-fixed-column--left{
        background-color: #115687;
    }
}

.el-rate__text{
    color: #fff;
}
