.Container{
    display: flex;
    flex-direction: column; /* 设置子元素竖直排列（默认为 row） */
    justify-content: space-between; /* 设置子元素垂直居中 */
    position: fixed;
    right: 0%;
    top: 10%;
    background-color:red;
    width: 30%;
    height: 82%;
    border-radius: 6px; /* 添加边角弧度 */
    // background: linear-gradient(to right, rgba(30, 70, 94, 0.7) 0%,rgba(19, 104, 147, 0.5) 50%);/* 添加渐变半透明背景 */
    background-image: linear-gradient(-90deg, #182940 0%, #115687 100%); /* 添加 */
    pointer-events: auto;
    border: 0px solid var(--el-card-border-color);
    &-panel{
      display: flex;
      flex-direction: column; /* 设置子元素竖直排列（默认为 row） */
      position: relative;
      height: 32.5%; /*  将height设置为3分之一，即可实现三等分 */
      width: 100%;
      background-color: rgba(19, 104, 147, 0);
      border: 1px solid rgba(25,186,139,0.17);
      box-sizing: border-box;
      &-head{
      width: 80%;
      height: 5%;
      top: 0px;
      margin-left: 10%;
      color: red;
      text-align: center;
      font-size: 15px;
      }
      &-body{
        position: relative;
        width: 100%;
        height: 40%;
        color: red;
        text-align: left;
        font-size: 15px;
      }
    }
}