.Container{
  display: flex;
  flex-direction: column; /* 设置子元素竖直排列（默认为 row） */
  justify-content: space-between; /* 设置子元素垂直居中 */
  position: fixed;
  right: 0%;
  top: 10%;
  width: 25%;
  height: 82%;
  border-radius: 6px; /* 添加边角弧度 */
  // background: linear-gradient(to right, rgba(30, 70, 94, 0.7) 0%,rgba(19, 104, 147, 0.5) 50%);/* 添加渐变半透明背景 */
  background-image: linear-gradient(-90deg, #182940 0%, #115687 100%); /* 添加 */
  pointer-events: auto;
  border: 0px solid var(--el-card-border-color);
  &-panel{
    display: flex;
    flex-direction: column; /* 设置子元素竖直排列（默认为 row） */
    position: relative;
    height: 32.5%; /*  将height设置为3分之一，即可实现三等分 */
    width: 100%;
    background-color: rgba(19, 104, 147, 0);
    border: 1px solid rgba(25,186,139,0.17);
    box-sizing: border-box;
    &-title{
      position: relative;
      width: 100%;
      height: 15%;
      line-height: 32px;
      color: #92c3e4;
      text-align: center;
      font-size: 13px;
      font-style: italic; /* 斜体字 */
      background-image: url('../views/images/dataScreen-header-warn-bg.png');
      background-size: 100% 100%;
      &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-left: 2px solid #17e3f5;
        border-top: 2px solid #17e3f5;
        content: "";
      }
      &::after{
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-right: 2px solid #17e3f5;
        border-top: 2px solid #17e3f5;
        content: "";
      }
      &:hover{
        color: white;
        font-size: 14px;
      }
    }
    &-chart{
      width: 100%;
    }
    &-video{
      width: 100%;
      height: 100%;
      position: relative;
    }
    &-footer{
      position: relative;
      width: 100%;
      height: 5%;
      &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-left: 2px solid #17e3f5;
        border-bottom: 2px solid #17e3f5;
        content: "";
      }
      &::after{
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-right: 2px solid #17e3f5;
        border-bottom: 2px solid #17e3f5;
        content: "";
      }
    }
  }
}