.el-radio.el-radio--large .el-radio__label {
    font-size: 17px;
}
.el-select .el-input__inner {
    cursor: pointer;
    font-size: 17px;
}
.el-popper {
    font-size: 10px;
    height: auto;
}
.el-popper.is-pure {
    width: 150px;
}
.el-radio.el-radio--large {
    height: 40px;
    margin-right: 10px;
}
// .el-slider__button-wrapper {
//     background-color: red;
//     &:hover {
//         background-color: red;
//         height: 20px;
//       }
//       .dragging{
//         height: 20px;
//       }
// }
// .el-slider__button{
//     &:hover {
//         background-color: red;
//         height: 20px;
//       }
// }