.container {
    position: absolute;
    top: 12%;
    left: 70.2%;
    width: 600px;
    height: 620px;
    pointer-events: auto;
    background-image: linear-gradient(-90deg, #182940 0%, #115687 100%);
    padding: 0px;
    display: flex;
    flex-direction: column;

    .el-form {
        .item-top{
            display: flex;
            flex-direction: column;
            height: 100px;
            margin-top: 10px;
            margin-left: auto;
            .min{
                display: flex;
                height: 50px;
                flex-direction: row;
                width: 100%;
                margin-top: 0px;
                margin-left: auto;
                .min{
                    margin-left: 10px;
                    margin-right: -8px;
                    width: 150px;
                    margin-top: 2px;
                    font-size: medium;
                    padding: 0px;
                }
                .min-text{
                    font-size: 18px;
                }
                .beginage{
                    margin-right: 42px;
                    margin-left: 20px;
                }
            }
            .max-div{
                display: flex;
                height: 50px;
                flex-direction: row;
                width: 100%;
                margin-top: 0px;
                margin-left: 10px;
                .max-span{
                    display: flex;
                    height: 50px;
                    flex-direction: row;
                    width: 23%;
                    margin-left: auto;
                    font-size: medium;
                }
                .max-text{
                    font-size: 18px;
                }
                .endage{
                    margin-right: 42px;
                    margin-left: 15px;
                }
            }
        }
        .item-bottom {
            display: flex;
            --font-size: 14px;
            margin-bottom: 18px;
            flex-direction: row;
            height: 40px;
            margin-top: 10px;
            margin-left: auto;
            .el-radio-group {
                display: inline-block;
                height: 40px;
                margin-left: 20px;
                font-size: 18px;
            }
            .el-select {
                display: inline-block;
                vertical-align: middle;
                height: 28px;
                width: 132px;
                margin-right: 20px;
                margin-left: 0px;
            }
            .el-button {
                display: inline-block;
                position: relative;
                margin-left: -8px;
                height: 30px;
                width: 60px;
                margin-right: 30px;
                // .realtime{
                //     width:auto;
                //     padding: 0px;
                // }
            }

        }
     
     
    }
    .table {
        height: 650px;
        width: 100%;
    }

}